:root {
  --yellow: #e0a80d;
  --text_gray: #7d8792;
  --dark_gray: #2b2c2c;
  --light_gray: #bac8d3;
  --background: #212222;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-size: 1.6rem;
  font-family: 'Muli', sans-serif;
  background-color: var(--dark_gray);
}

html {
  font-size: 10px;
  scroll-behavior: smooth;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;

}


/* Navbar Start */
nav {
  background-color: var(--dark_gray);
  position: sticky;
  top: 0;
  left: 0;
  z-index: 3;
  justify-content: space-between;
}

.nav_container {
  width: 80%;
  padding: 20px 0;
  display: flex;
  margin-inline: auto;
  align-items: center;
  justify-content: space-between;
}

ul,
li,
a {
  display: flex;
  color: var(--text_gray);
  gap: 80px;
  font-size: 1.5rem;

}


li,
a:hover {
  color: var(--yellow);
  transition: all 0.3s ease-out;
}

/* Navbar Finish */

/* Main Start */
.main {
  height: 100vh;
  text-align: center;
  background: url("./images/main_bg.png") center center no-repeat;
  background-attachment: fixed;
  position: relative;
}

.main_container {
  color: white;
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 50%;
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50%, -50%);
  text-align: center;

}

.main_container h2 {
  font-size: 4.4rem;
  color: var(--yellow);
}


.p1 {
  font-size: 2rem;
  font-weight: 30rem;

}

.p2 {
  font-size: 1.7rem;
  letter-spacing: 1px;
}

.btn {

  color: white;
  border: solid 2px var(--yellow);
  border-radius: 25px;
  padding: 10px 25px;
  justify-content: center;
  width: 30%;
  font-size: 1.4rem;
  display: block;
}

.main_container .btn {
  margin-inline: auto
}

/* Main Finish */

/* About Start */

.about {

  padding: 12rem 0px;
}

.about_container {
  width: 80%;
  display: flex;
  margin-inline: auto;
  align-items: center;
  gap: 40px;
}

.about_content .btn {

  display: flex;
  flex-direction: column;
  gap: 15px;
}

.header {
  color: var(--yellow);
  text-align: center;
  font-size: 3rem;
}

.about_content .header {
  text-align: left;
}

.about_content p {
  color: var(--light_gray);
  font-size: 1.5rem;
  line-height: 2.8rem;

}

.about_buttons {
  display: flex;
  gap: 20px;
}

.about_buttons a {
  width: 20%;
  text-align: center;

}

.about_buttons a:first-child {
  background-color: var(--yellow);
}


/*About Finish */

/* Services Start */
.services_cont {
  width: 95%;
  margin-inline: auto;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  gap: 20px;
}

.service_box {
  background-color: var(--background);
  padding: 40px 30px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.service_box i {
  color: var(--yellow);
  font-size: 3rem;

}

.service_box h3 {
  color: #eee;
  font-size: 1.8rem;
}

.service_box p {
  color: var(--light_gray);
  font-size: 1.4rem;
  line-height: 25px;
}

.services_cont {
  margin-top: 60px;
}

/* Services Finish */

/* STATS START */
.stats {
  background: url("./images/some-facts-bg.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 140px 0;
  margin: 100px 0;
}

.stats_cont {
  width: 75%;
  margin-inline: auto;
  display: flex;
  justify-content: space-between;

}

.stats_cont div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.stats_cont div i {
  color: var(--yellow);
  font-size: 3rem;
}

.stats_cont p {
  color: white;
  font-size: 1.6rem;
}

/* Stats Finish */

/* Portfolio start */
.portfolio_cat {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin: 50px 0 25px 0
}

.portfolio_cat p {
  color: var(--light_gray);
  font-size: 1.6rem;
  text-transform: uppercase;
  transition: .2s ease-in-out;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 20px;
}

.portfolio_cat p.active {
  background-color: var(--yellow);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
}

.portfolio_cat p:hover {
  background-color: var(--yellow);
  padding: 10px 20px;
  border-radius: 20px;
  color: white;
}

.portfolio_cont {
  display: grid;
  justify-content: center;
  grid-template-columns: 33% 33% 33%;
  gap: 30px;
  margin-inline: auto;
  width: 85%;
}

.port_box img {
  width: 100%;
}

.port_box {
  position: relative;
}

.port_box .content_cont {
  opacity: 0;
  position: absolute;
  background-color: #e0a80de5;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  transition: .5s ease-in-out;
}

.port_box:hover .content_cont {
  opacity: 1;
  cursor: pointer;
}

.port_box .content_cont i {
  font-size: 2rem;
}

/* Portfolio finish */

/* Testimonials Start */
.testimonials {
  background: url("./images/testimonials-bg.png") center center no-repeat;
  background-attachment: fixed;
  background-size: cover;
  padding: 140px 0;
  margin: 140px 0;
}

.test_cont {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.test_paragraph {
  color: white;
  font-size: 1.6rem;
  width: 50%;
  text-align: center;
  line-height: 30px;

}

.test_cont img:nth-of-type(2) {
  width: 100px;
  border: solid 2px var(--yellow);
  border-radius: 50%;
  padding: 5px;
  margin: 20px 0px 20px;
}

.test_paragraph2 {
  color: white;
  font-size: 2rem;
}

.test_paragraph3 {
  color: var(--yellow);
  font-size: 1.5rem;

}

/* Testimonials Finish */

/* Blog Start */

.blogs {
  display: flex;
  flex: 1;
}

.blog_cont {
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--background);
  gap: 2rem;
  margin: 2rem;
  padding-top: 5rem;
  border-radius: 3rem;

}

.blog_cont p {
  color: var(--text_gray);
  text-align: center;
}

.blog_cont a:nth-child(2) {
  color: var(--yellow);
  font-size: 2.5rem;
}

.blog_cont p:nth-of-type(1) {
  color: white;
  letter-spacing: 1.2px;
}

/* Blog Finish */

/* Contact Start */
.contact h3 {
  margin-top: 5rem;
}

.contact_cont {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 60px auto 100px auto;
  width: 85%;
  gap: 50px;

}

.form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 80rem;
}

.form input {
  border: none;
  outline: none;
  padding: 15px 20px;
  border-radius: 10px;
  color: var(--dark_gray);
}

.f_line {
  display: grid;
  grid-template-columns: auto auto;
  gap: 25px;
  letter-spacing: 353px;
}

textarea {
  border: none;
  outline: none;
  resize: none;
  padding: 15px 20px;
  border-radius: 10px;
}

.send_form {
  background-color: var(--yellow);
  font-size: 1.8rem;
  color: white;
  padding: 15px 0;
  outline: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;

}

.contact_info {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.contact_info div i {
  color: var(--yellow);
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.contact_info div p {
  color: white;
  font-size: 1.6rem;
}

/* Contact Finish */

/* Footer Start */
.footer {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--background);
}

.footer_cont {
  display: flex;
  gap: 40px;
  color: var(--yellow);
  margin: 3.1rem;

}

.footer_text {
  color: white;
  margin-top: 1rem;
  margin-bottom: 3rem;

}

/* Footer Finish */
